@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --color-primary: #008080;
    --color-secondary: #f0425d;
    --color-teritary: #d4af37;
    --color-navy: #1a1a2e;
}

img {
    @apply max-w-full;
}
